/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.career_header {
    background: #666666;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

#main_title {
    font-size: 24px; 
}

#new_post_btn {
    height: 24px;
    width: 84px;
    background: #ddd;
    margin: 5px;
    border-radius: 25px;
}

#new_post_btn:hover {
    background: #e768d5;
}

#new_post_btn > a {
    color: #434645;
    text-decoration: none;
}
